@import "../../../styles.scss";
@import "../App.scss";


.BoardDiv {
    position: relative;
    float: left;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 44vw;
    box-sizing: border-box;
}

.TableContainer {
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    top: 52.5%;
    left: 50%;
    width: 90%;
    height: 88.5%;
}

table {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
}

.Tile {
    font-size: 3rem;
    color: $gray2;
    text-align: center;
    background-color:rgba($color: #613848, $alpha: 0.4);
}

td {
    padding:0;
    border-radius: calc(1 * #{$m});
    border: solid calc(0.5 * #{$m}) rgba($color: rgb(255, 255, 255), $alpha: 0);
    box-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.39);
    white-space: nowrap;
    width: calc(100% / 10);
    height: calc(100% / 20);
}

/*.Tile:hover {
    background-color:rgba($color: #6b3d43, $alpha: 0.8);
}*/

.GameHeader {
    position: relative;
    display: block;
    padding: calc(3 * #{$m});
    height: 6%;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.PlayerName {
    position: absolute;
    top: 15%;
    left: 2.1%;
    font-family: 'Archive';
    font-weight: 200;
    font-size: calc(0.030 * #{$gwh});
    height: calc(0.045 * #{$gwh});
    width: 44%;
    margin-top: $m;
    padding: calc(1*#{$m});
    padding-top: $m;
    box-sizing: border-box;
    text-align: center;
    background-color: none;
    border-radius: calc(1*#{$m});
    color: white;
    //text-shadow: 0 calc(0.6 * #{$m}) calc(0 * #{$m}) $black;
    box-shadow: inset 0 0 calc(3*#{$m}) $black;
}

/*.Vs {
    font-size: calc(0.02 * #{$gww});
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: calc(2*#{$m});
    padding-top: 0;
    padding-bottom: 0;
    color: $yellow4;
    border-radius: calc(1*#{$m});
    background-color: $black;
}*/