@import "../../../styles.scss";
@import "../App.scss";

$cs: calc(0.06 * #{$gww});

.CardDiv {
    position: relative;
    font-size: 5rem;
    padding: $m;
    font-weight: 500;
    width: $cs;
    height: $cs;
    margin-top: $m;
    margin-left: $m;
    display:block;
}

/*.CardDiv:hover {
    background: $color5;
}*/

.CardArrow {
    font-family: 'Roboto';
    position: absolute;
    color: white;
    font-size: 0;
    text-align: center;
    width: $cs;
    height: $cs;
    font-weight: 700;
    background-color: change-color($color: $black, $alpha: 0);
    box-shadow: 0rem 0rem 2rem $black;
    top:0%;
    left:0%;
    z-index: 10;
    opacity: 0;
    border-radius: 1rem;
    padding-top: calc(0.5 * #{$cs});
    box-sizing: border-box;
    cursor: pointer;
}

.Selected .CardArrow {
    padding-top: calc(0.6 * #{$cs});
}

.CardDiv:hover .CardArrow {
    transition: font-size 0.3s, padding-top 0.3s;
    font-size: calc(0.37 * #{$cs});
    padding-top: calc(0.25 * #{$cs});
    opacity: 1;
    background-color: change-color($color: $black, $alpha: 0.5);
}

.CardImg {
    max-width: 100%;
}

.Selected {
    background: $yellow4;
}