@import "../../../styles.scss";
@import "../App.scss";

$cs: calc(0.09 * #{$gww});

.CardDiv {
    position: relative;
    font-size: 5rem;
    padding: $m;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin-top: $m;
    margin-left: $m;
    display:block;
}

/*.CardDiv:hover {
    background: $color5;
}*/

.CardArrow {
    font-family: 'Roboto';
    position: absolute;
    color: white;
    font-size: 0;
    text-align: center;
    @include md {
        width: calc(32px * 2);
        height: calc(32px * 2);
        padding-top: calc(0.5 * calc(32px * 2));
    }
    @include xl {
        width: calc(32px * 3.2);
        height: calc(32px * 3.2);
        padding-top: calc(0.5 * calc(32px * 3.2));
    }
    @include xxl {
        width: calc(32px * 4);
        height: calc(32px * 4);
        padding-top: calc(0.5 * calc(32px * 4));
    }
    padding-left: 7%;
    font-weight: 700;
    background-color: change-color($color: $black, $alpha: 0);
    box-shadow: 0rem 0rem 2rem $black;
    top:0%;
    left:0%;
    z-index: 10;
    opacity: 0;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.Selected .CardArrow {
    padding-top: calc(0.6 * #{$cs});
}

.CardDiv:hover .CardArrow {
    transition: font-size 0.3s, padding-top 0.3s;
    @include md {
        font-size: calc(0.5 * calc(32px * 2));
        padding-top: calc(0.22 * calc(32px * 2));
    }
    @include xl {
        font-size: calc(0.5 * calc(32px * 3.2));
        padding-top: calc(0.22 * calc(32px * 3.2));
    }
    @include xxl {
        font-size: calc(0.5 * calc(32px * 4));
        padding-top: calc(0.22 * calc(32px * 4));
    }
    opacity: 1;
    background-color: change-color($color: $black, $alpha: 0.5);
}

.CardImg {
    @include md {
        width: calc(32px * 2);
    }
    @include xl {
        width: calc(32px * 3.2);
    }
    @include xxl {
        width: calc(32px * 4);
    }
}

.Selected {
    background: $yellow4;
}