@import "../../../styles.scss";
@import "../App.scss";

$m: 0.60rem;

.CardDetailDiv {
    position: absolute;
    width: $gw;
    height: $gh;
    top: 0px;
    left: 0px;
    //background: none;
    //background: linear-gradient(90deg, $yellow4 50%, transparent 50%), linear-gradient(90deg, $yellow4 50%, transparent 50%), linear-gradient(0deg, $yellow4 50%, transparent 50%), linear-gradient(0deg, $yellow4 50%, transparent 50%);
    //background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    //background-size: 8*$m 1.3*$m, 8*$m 1.3*$m, 1.3*$m 8*$m, 1.3*$m 8*$m;
    //animation: border-dance 4s infinite linear;
    pointer-events: none;
    overflow: hidden;
}

.CardLayout {
    position: absolute;
    width:100.3%;
    top:-0.1%;
    left:-0.1%;
    border-radius: 1rem;
}

/*@keyframes border-dance {
    0% {
      background-position: 0px 0px, 800px 100%, 0px 450px, 100% 0px;
    }
    100% {
      background-position: 800px 0px, 0px 100%, 0px 0px, 100% 450px;
    }
}*/

.handle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 200;
    background-color: rgba($color: $black, $alpha: 0.5);
    border-radius: calc(0.5 * #{$m});
    cursor: grab;
}

.CloseCardButton {
    position: absolute;
    top: -6%;
    left: 82.5%;
    width: calc(15 * #{$m});
    height: calc(7 * #{$m});
    text-align: center;
    opacity: 0.5;
    background-color: rgba($color: $black, $alpha: 1);
    border-radius: calc(0.5 * #{$m});
    cursor: pointer;

    h1 {
        margin-top: calc(-1.8 * #{$m});
        font-size: calc(9 * #{$m});
        color: white;
    }
}

.CloseCardButton:hover {
    transition: opacity 0.2s, color 0.2s;
    background-color: rgba($color: red, $alpha: 0.8);
    opacity: 1;
}

.CardDetailDiv .BsDiv {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
}

.CardDetail {
    animation-duration: 0.2s;
    animation-name: CardFade;
    position: relative;
    top: 20%;
    left: 40.25%;
    width: calc(83.7 * #{$m});
    height: calc(126 * #{$m});
    box-shadow: 0 0 calc(2 * #{$m}) $black;
    border-radius: 1rem;
    background: $gray2;
    z-index: 102;
    pointer-events: all;
}

.CardDetail:hover {
    box-shadow: 0 0 calc(2 * #{$m}) $black, 0rem 0rem calc(20 * #{$m}) rgba($color: $yellow3, $alpha: 0.5);
}

.CardDetail:active {
    box-shadow: 0 0 calc(2 * #{$m}) $black;
    cursor: grabbing;
}

.Stats{
    position: absolute;
    padding-left: calc(4 * #{$m});
    padding-top: calc(1 * #{$m});
    width: calc(15 * #{$m});
    height: calc(15 * #{$m});
    background-color: #4e9b44;
}

.StatNumber {
    font-family: 'Cinzel';
    font-weight: 900;
    font-size: calc(10 * #{$m});
    text-align: center;
}

.StatLetter {
    font-family: 'Cinzel';
    font-weight: 900;
    font-size: calc(4 * #{$m});
    vertical-align: text-bottom;
}

.IllustrationContainer {
    position: absolute;
    top: 2.7%;
    left: 4.2%;
    width: calc(61.4 * #{$m});
    height: calc(61.4 * #{$m});
}

.CardIllustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
}

.CardName {
    position: absolute;
    top:52.5%;
    left:3%;
    text-align: center;
    z-index: 105;
    width:92%;
    padding-left: $m;
    border-radius: calc(1 * #{$m});
    font-family: 'Cinzel';
    font-weight: 900;
    font-size: calc(8 * #{$m});
}

@keyframes CardFade {
    from {
        opacity:0;
    }
  
    to {
        opacity:1;
    }
}