@import "../../../styles.scss";
@import "../App.scss";

.GameDiv {
    width:$gw;
    height:$gh;
    background-color: $black;
    box-sizing: border-box;
    overflow: hidden;
}
  
  .GameBackground {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*@include md {
      width: calc(385px * 2);
    }
    @include xl {
        width: calc(385px * 3.2);
    }
    @include xxl {
        width: calc(385px * 5);
    }*/
    width:100%;
  }