@import "../../../styles.scss";
@import "../App.scss";

.HandComponent {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: inline-block;
    height: 98%;
    width: 100%;
    padding-right: 2 * $m;
    opacity: 0.2;
}

.HandComponent:hover {
    transition: opacity 0.2s;
    opacity: 1;
}

.HandDiv {
    display: flex;
    position: absolute;
    top: 0%;
    left: 25%;
    float:left;
    width: fit-content;
    height:80%;
}

.HandDiv:hover {
    cursor: grab;
}

.SubHand {
    overflow-x: clip;
    display:inline-block;
    margin-top: $m;
    margin-left: $m * 2;
    width: fit-content;
    height:100%;
}

.SubHandTitle {
    background: $black;
    width: fit-content;
    padding-left: 2rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    h1 {
        font-size: calc(0.015 * #{$gww});
    }
} 
.CardList {
    display:block;
    background: $black;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    max-height: 92.4%;
    border-radius: 0.5rem;
    padding-bottom: 2* $m;
    padding-right: $m;
}