@import "../../../styles.scss";
@import "../App.scss";

.PlayerDiv {
    position:relative;
    float: left;
    height: 100%;
    width: calc(calc(#{$gww} - calc(#{$gwh} / 1.3))/2);
}

.BackgroundIllustration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:98%;
    box-shadow: 0 0 $m black;
    opacity: 0;
}