@import "../../styles.scss";

$gh: calc(1 * #{$gh});
$gw: calc(1 * #{$gw});

$gwh: calc(1 * #{$gh});
$gww: calc(1 * #{$gw});
$ghh: calc(0 * #{$gh});

/*.AppDiv {
  width:$gw;
  height:$gh;
  background-color: $black;
  box-sizing: border-box;
  overflow: hidden;
}*/