@import "../../styles.scss";

.HandComponent {
    display: inline-block;
    margin-left: $m;
    height: 100%;
    width: fit-content;
    padding-right: 2 * $m;
    background: $gray2;
}

.HandDiv {
    display: flex;
    float:left;
    width: fit-content;
    height:100%;
}

.SubHandTitle {
    background: $black;
    width: fit-content;
    padding-left: 2rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
}

.SubHand {
    overflow-x: clip;
    display:inline-block;
    margin-top: $m;
    margin-left: $m * 2;
    width: fit-content;
    height:100%;
}

.CardList {
    display:block;
    background: $black;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    float: right;
    max-height: 92.4%;
    border-radius: 0.5rem;
    padding-bottom: 2* $m;
    padding-right: $m;
}