.BsDiv {
    position: absolute;
    display: flex;
    top: -100vh;
    left: -10vw;
    width: 120vw;
    height: 120vh;
    z-index: 200;
    background-color: rgba($color: #000000, $alpha: 0.5);
}