@import "../../styles.scss";

.HandComponent {
    display: inline-block;
    margin-left: $m;
    height: 100%;
    width: fit-content;
    padding-right: 2 * $m;
    background: $gray2;
}

.HandDiv {
    float:left;
    height: fit-content;
    height:100%;
}

.SubHandTitle {
    background: $black;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2px;
}

.SubHand {
    float:left;
    margin-top: $m;
    margin-left: $m * 2;
    width: auto;
    height:100%;
}

.CardList {
    display:block;
    background: $black;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: fit-content;
    max-height: 92.4%;
    border-radius: 2px;
}

.CardDetailDiv {
    float: right;
    width: calc(50% - #{$m});
    height: 100%;
    margin-left: $m;
    background-color: $gray3;
    font-size: 10rem;
}