@import "../../styles.scss";

.HandsDiv {
    display: inline-block;
    background: $gray1;
    height: 100%;
    width: calc(100% - calc(#{$gh} / 1.5));
    padding-left: $m;
    padding-right: $m;
}