$black: #050511;
$yellow4: #fbd1a2;
$yellow3: #ffbd59;
$yellow2: #f79256;
$yellow1: #e77b50;
$gray1: #49404e;
$gray2: #887171;
$gray3: #afa193;

$gw: 100vw;
$gh: 99vh;
$fs: 2vw;
$gu: 2vw;
$m: 0.3vw;

:root {
  font-size: calc(0.2vw + 0.2vh);
}

@font-face {
  font-family: "Archive";
  src: url("/fonts/Archive-Regular.ttf");
  src:
  url("/fonts/Archive-Regular.otf") format("opentype")
}
  

* {
  margin:0px;
  user-select: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  color: white;
}

h1 {
  font-family: 'Archive';
  font-size: 5rem;
  color:white;
  font-weight: 50;
}

div {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: fit-content;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #887171;
  border: 0.5rem solid transparent;
  border-radius: 2rem;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #afa193;
  border:0.5rem solid transparent;
}